<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
    <meta charset="UTF-8">

    {% block styles %}
    <!-- Bootstrap CSS -->
    {{ bootstrap.load_css() }}

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Andika:ital,wght@0,400;0,700;1,400;1,700&display=swap"
          rel="stylesheet">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">

    {% endblock %}


    <!-- Fontawesome Icons -->
    <script src="https://kit.fontawesome.com/3a2cd2fac7.js" crossorigin="anonymous"></script>

    <!-- Favicon -->
    <link rel="icon" type="image/png" sizes="32x32"
          href="{{ url_for('static', filename='favicon/favicon-32x32.png') }}">
    <link rel="icon" type="image/png" sizes="16x16"
          href="{{ url_for('static', filename='favicon/favicon-16x16.png') }}">
    <link rel="apple-touch-icon" sizes="180x180"
          href="{{ url_for('static', filename='favicon/apple-touch-icon.png') }}">
    <link rel="manifest" href="{{ url_for('static', filename='favicon/site.webmanifest') }}">

    <title>{% block title %}{% endblock %}</title>
    {% endblock %}
</head>
<body>

<img src="{{ url_for('static', filename='images/bg_image_2.jpg') }}" class="background-image" alt="">

<nav class="navbar navbar-expand-lg transparent-bg-light navbar-light">
    <ul class="navbar-nav">
        <a class="navbar-brand" href="{{ url_for('hello') }}">
            <img src="{{ url_for('static', filename='images/avatar_blue.png') }}" height="40px" alt=""
                 class="rounded-circle">
        </a>
        <li class="nav-item my-auto mx-2">
            <a class="nav-link nav-text-lg" href="{{ url_for('hello') }}">Hello</a>
        </li>
        <li class="nav-item my-auto mx-2">
            <a class="nav-link nav-text-lg" href="{{ url_for('whatido') }}">What I Do</a>
        </li>
        <li class="nav-item my-auto mx-2">
            <a class="nav-link nav-text-lg" href="{{ url_for('contact') }}">Contact Me</a>
        </li>
    </ul>
</nav>
<div class="block-content block-custom text-center text-lg-start">
    {% block content %}{% endblock %}
</div>
<footer class="text-center text-lg-start transparent-bg-light text-muted">
    <div class="social-icons">
        <i class="social-icon fa-brands fa-facebook-f fa-lg"></i>
        <i class="social-icon fa-brands fa-instagram fa-lg"></i>
        <i class="social-icon fa-brands fa-linkedin fa-lg"></i>
        <i class="social-icon fa-brands fa-xing fa-lg"></i>
        <!--        <a href="https://de.linkedin.com/in/edwin-wiesinger-5b19261b4" target="_blank"><i-->
        <!--                class="social-icon fa-brands fa-linkedin fa-lg"></i></a>-->
        <!--        <a href="https://www.xing.com/profile/Edwin_Wiesinger3" target="_blank"><i-->
        <!--                class="social-icon fa-brands fa-xing fa-lg"></i></a>-->
    </div>
    <div class="copyright-text">© 2023 Eddy Wi</div>
</footer>

{% block scripts %}
<!-- Optional JavaScript -->
{{ bootstrap.load_js() }}
<!-- Custom JS -->
<script language="JavaScript" type="text/javascript"
        src="{{ url_for('static', filename='js/script.js') }}"></script>
{% endblock %}
</body>
</html>